@font-face {
  font-family: "Anton";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Anton-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Amiko";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Amiko-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Medium";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Nunito-Regular.ttf") format("truetype");
}
