.service-images-swiper {
  width: 100%;
  height: auto;
  gap: var(--chakra-sizes-8);
  border-radius: var(--chakra-sizes-4);
  display: flex;
  flex-direction: column;
}

.service-images-swiper .swiper-wrapper {
  align-items: center;
}
